<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="contenderNumber" value="100" />
        <add key="threshold" value="9" />
        <add key="dbIp" value="localhost" />
        <add key="port" value="5432" />
        <add key="database" value="marriage" />
        <add key="dbUsername" value="postgres" />
        <add key="dbPassword" value="ghbdtn" />
    </appSettings>
</configuration>